    <nav class="navbar navbar-expand-sm navbar-light bg-primary mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Blogs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarID">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/news">Announcemnt</a>
                    
                </div>
            </div>
            <a href="/users/login" class="btn btn-success float right pr-4">Login</a>
        </div>
        
    </nav>