<div class="form-group">
    <label for="name">Name</label>
    <input required  name="name" type="text" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="email">E-mail</label>
    <input required name="email" type="text" id="email" class="form-control">
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input required name="phone" type="text" id="phone" class="form-control">
</div>
<div class="radio">
<label for="male">Male</label>
<input type="radio" name="gender" value="Male">
<label for="female">Female</label>
<input type="radio" name="gender" value="Female">
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="Password" id="password" name="password" required class="form-control">
</div>
<a href="/" class="btn btn-secondary mt-2">Blogs</a>



